.preloader
{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	opacity: 0.8;
	background : url('../../assets/images/loader.gif') center no-repeat #fff;
}

.paddLeft
{
	padding-left: 0px;
}

.paddRight
{
	padding-right: 0px;
}

.padd
{
	padding: 5px;
	border-radius: 3px;
} 